.text-app {
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  margin-top: 60px;
}
span {
  font-family: 'Russo One', sans-serif;
}
.card {
  background-color: #89a7da;
  margin: 0 30px;
  margin-top: 50px;
  padding: 20px;
}
.container-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}
