<app-nav></app-nav>
<h1 class="text-app">
  Descubre el
  <br />
  <span>Tiempo</span>
  en cualquier
  <span>Ciudad</span>
  <br />
  del
  <span>Mundo</span>
</h1>
<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <form (submit)="submitLocation(cityName, countryCode)">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="CIUDAD   "
              #cityName
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="PAIS   "
              #countryCode
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-2">
            Tiempo
          </button>
          <p>Introduce los datos de la cuidad y el país donde se encuentra</p>
          <p>Ej: london, uk</p>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="weather" class="card card-body">
        <p>Temperatura: {{ weather.main.temp }} ºC</p>
        <p>Latitud: {{ weather.coord.lat }}</p>
        <p>Longitud: {{ weather.coord.lon }}/p></p>
        <p>Humedad: {{ weather.main.humidity }}</p>
        <p>Presión: {{ weather.main.pressure }}</p>
        <p>Descripción: {{ weather.weather[0].description }}</p>
      </div>
    </div>
  </div>
</div>
<app-product-form></app-product-form>
